{
	admin off
}

http://atlas.shadowinc.co {
	root * /srv
	encode zstd gzip
	file_server

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
}
